python3 -m pip install --upgrade Pillow
requests

windows task manager
open path to venv python exe
pass path to nasa_background.py as argument
set to run only when a user is logged in
run with highest priveleges
configure for windows 10
delay by 1minute to give internet enough time to initialize